<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Example Search List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="searchForm">
      <ion-searchbar name="searchTerm" [formControl]="searchInput">
      </ion-searchbar>
  </form>
  
  
  <ion-list>
    <ion-item *ngIf="searching==true">
        <p>You searched for {{searchTerm}}</p>
    </ion-item>
    <ion-item *ngFor="let fruit of pageItems">
      {{fruit}}
    </ion-item>
  </ion-list>
</ion-content>
